// 颜色定义规范
$cl-bg-ct: rgba(102, 175, 255, .2);
$cl-text: #fff;
$cl-bg-btn:blue;

//字体定义规范
$fz-ss: 10px;
$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-gg: 22px;


// 页面整理的宽度 是 1200 还是自适应
$width-page: 80%;
